* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*  */
body {
    background-color: #d9dcd6;
}

/* refering to the looks of all links */
a {
    color: #ffffff;
    text-decoration: none;
}


/* referting to all p element selector */
p {
    font-size: 16px;
    font-weight: normal;
}

/* refering to H1 */
h1 {

    font-size: 48px;
}


/* referting H2 */
 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* referting H3 */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* All elements for HEADER */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* refering to behavior of the Name HORISEON */
.seo {
    color: #d9dcd6;
}

/* horizontal navi */
.nav{
    float: right;
    margin-top: 15px;
    background-color: #2a607c;
    
}
.nav>ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.nav>ul>li{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

/* main pic as a  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* conatiner folting left*/

.float-left {
    float: left;
    margin-right: 25px;
}

/* conatiner folting right*/

.float-right {
    float: right;
    margin-left: 25px;
}

/* conatiner right*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/* Image earch engine optimization */

.search-engine-optimization img {
    max-height: 200px;
    margin-top: 5px;
}


/* text bahivior in the 3 left conatiner */

.text-left-container {
    margin-bottom: 20px;
    padding: 45px;
    height: 270px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Image online reputation management */
.online-reputation-management img {
    max-height: 200px;
    margin: 35px 20px 35px 35px;
}

/* Image social media marketing */
.social-media-marketing img {
    max-height: 200px;
}

/* right conatiner, lead generation, brand awareness, cost managment */

.benefits {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* benifit text */
.benefit  {
    margin-bottom: 32px;
    color: #ffffff;
}

/* benifit- Imgs */

.benefit-png {
    
    display: inline;
    margin: 0px 20px;
    max-width: 150px;
}


/* FOOTER without content */

.footer {

    padding: 30px;
    clear: both;
    
}


